html, body{margin:0;padding:0;width:100%;}

.bracket-wrapper, .bracket-wrapper2{width: 50%; height: 350px;display: block; margin: 200px auto; overflow: hidden; border: 1px solid #000; background: #e5a; padding:0;}
.bracket-wrapper2{width:100%;}
ul.slide-container{list-style-type: none; display: block; margin:0; padding:0; overflow: visible; position:relative; z-index:1;}
li.slide{display: inline-block; float: left;width: 100%; height:100%;overflow: hidden;}
img{width:100%; height:100%;}
.next, .prev{width: 39px; height: 56px; background: url(./images/prev_icon.png) no-repeat; background-position: center left; display: inline-block; position: absolute; cursor: pointer; z-index:2;}
.next{ background: url(./images/next_icon.png) no-repeat; background-position: center right;}
.regular{position:relative;display:block;top:0;left:0;right:0;bottom:0;padding:0;margin:0;clear:both;z-index:9999;}

ul.pagination{display: block; position:absolute; margin: 0 auto; padding:0; text-align: center;}
ul.pagination li{display: inline-block; margin:0 5px; padding:0; background: #1E9; width: 10px; height: 10px; position:relative; z-index:3; cursor: pointer;}
ul.pagination li.active{background: #000;}